<ion-content class="ion-margin-top">
  <ion-list>
    <ion-item button>
      <ion-icon slot="start" name="card" ></ion-icon>
      <ion-label>Тарифы и подписка</ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon slot="start" name="help-circle-outline"></ion-icon>
      <ion-label>Частые вопросы</ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon slot="start" name="bookmarks"></ion-icon>
      <ion-label>Советы</ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon slot="start" name="checkbox-outline"></ion-icon>
      <ion-label>Проверки</ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon slot="start" name="notifications"></ion-icon>
      <ion-label>Уведомления</ion-label>
    </ion-item>
  </ion-list>
</ion-content>