<ion-header>
  <!-- <div class="nav-bar">
    <div class="nav-bar__item  nav-bar__item--active">Няни</div>
    <div class="nav-bar__item">Домработницы</div>
    <div class="nav-bar__item">Сиделки</div>
    <div class="nav-bar__item">Репетиторы</div>
  </div> -->
  <ion-segment (ionChange)="segmentChanged($event)" scrollable>
    <ion-segment-button value="nanny">
      <ion-label>Няни</ion-label>
    </ion-segment-button>
    <ion-segment-button value="housekeeper" checked>
      <ion-label>Домработницы</ion-label>
    </ion-segment-button>
    <ion-segment-button value="nurse">
      <ion-label>Сиделки</ion-label>
    </ion-segment-button>
    <ion-segment-button value="tutor">
      <ion-label>Репетиторы</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button color="danger">
    <ion-icon name="switch"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content class="search-page">
  <p>
    <ion-chip color="medium">
      <ion-label>
        <ion-icon name="heart-empty"></ion-icon>
      </ion-label>
    </ion-chip>
    <ion-chip color="primary">
      <ion-label>Соответствие</ion-label>
    </ion-chip>
    <ion-chip color="medium" outline>
      <ion-label>Расстояние</ion-label>
    </ion-chip>
    <ion-chip color="medium" outline>
      <ion-label>Дата</ion-label>
    </ion-chip>
  </p>

  <ion-card class="resume-card" routerLink="/resume">
    <ion-card-header>
      <ion-card-title>Маргарита Евгеньева</ion-card-title>
      <ion-card-subtitle>Няня</ion-card-subtitle>
      <ion-label>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star-half" color="primary"></ion-icon>
        <ion-icon name="star-outline" color="primary"></ion-icon>
      </ion-label>

    </ion-card-header>
    <img src="https://r2.pomogatel.ru/m/eecddaa3eb2b4e42b61cf40467381a77.jpg" alt="" />
    <ion-card-content>
      <ion-text color="dark">
        <span class="bold">Возраст:</span> 42 года
        <span class="bold">Опыт:</span> 8 лет<br>
        <span class="bold">Оплата:</span> от 200 до 250 руб./час<br>
      </ion-text>
      <p>Уход за ребенком, полная гигиена, уход за гардеробом, приготовление еды, кормление, прогулки, развивающие игры
        и занятия по возрасту. Работа с проживанием...</p>
    </ion-card-content>

    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon name="pin"></ion-icon>
          <ion-label>0.3км от вас</ion-label>
        </ion-button>
      </ion-buttons>

      <!-- <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>

  </ion-card>
  <ion-card class="resume-card">
    <img src="https://r2.pomogatel.ru/m/e8287ec4dd7d496c91d08a7bbb1a3152.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Маргарита Евгеньева</ion-card-title>
      <ion-card-subtitle>Няня</ion-card-subtitle>
      <ion-label>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star-half" color="primary"></ion-icon>
        <ion-icon name="star-outline" color="primary"></ion-icon>
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        <span class="bold">Возраст:</span> 42 года
        <span class="bold">Опыт:</span> 8 лет<br>
        <span class="bold">Оплата:</span> от 200 до 250 руб./час<br>
      </ion-text>
      <p>Уход за ребенком, полная гигиена, уход за гардеробом, приготовление еды, кормление, прогулки, развивающие игры
        и занятия по возрасту. Работа с проживанием...</p>
    </ion-card-content>
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon name="pin"></ion-icon>
          <ion-label>0.3км от вас</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card>
  <ion-card class="resume-card">
    <img src="https://r2.pomogatel.ru/m/6dc72019fd734bfc94b2433b42f26269.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Маргарита Евгеньева</ion-card-title>
      <ion-card-subtitle>Няня</ion-card-subtitle>
      <ion-label>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star-half" color="primary"></ion-icon>
        <ion-icon name="star-outline" color="primary"></ion-icon>
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        <span class="bold">Возраст:</span> 42 года
        <span class="bold">Опыт:</span> 8 лет<br>
        <span class="bold">Оплата:</span> от 200 до 250 руб./час<br>
      </ion-text>
      <p>Уход за ребенком, полная гигиена, уход за гардеробом, приготовление еды, кормление, прогулки, развивающие игры
        и занятия по возрасту. Работа с проживанием...</p>
    </ion-card-content>
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon name="pin"></ion-icon>
          <ion-label>0.3км от вас</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card>
  <ion-card class="resume-card">
    <img src="https://r2.pomogatel.ru/m/ead14e01fe2846ff8783419ce6e0e549.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Маргарита Евгеньева</ion-card-title>
      <ion-card-subtitle>Няня</ion-card-subtitle>
      <ion-label>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star" color="primary"></ion-icon>
        <ion-icon name="star-half" color="primary"></ion-icon>
        <ion-icon name="star-outline" color="primary"></ion-icon>
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        <span class="bold">Возраст:</span> 42 года
        <span class="bold">Опыт:</span> 8 лет<br>
        <span class="bold">Оплата:</span> от 200 до 250 руб./час<br>
      </ion-text>
      <p>Уход за ребенком, полная гигиена, уход за гардеробом, приготовление еды, кормление, прогулки, развивающие игры
        и занятия по возрасту. Работа с проживанием...</p>
    </ion-card-content>
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon name="pin"></ion-icon>
          <ion-label>0.3км от вас</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card>

</ion-content>