<ion-app>
  <ion-header>
    <div class="header">
      <div class="header__logo">
        <span class="icons--logo"></span>
      </div>
    </div>
  </ion-header>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
          <span class="icons__mobile-nav icons__mobile-nav--resume "></span>
          <ion-label>Объявления</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
          <span class="icons__mobile-nav icons__mobile-nav--search"></span>
          <ion-label>Поиск</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
          <span class="icons__mobile-nav icons__mobile-nav--chat"></span>
          <ion-label>Чаты</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab4">
          <span class="icons__mobile-nav icons__mobile-nav--menu"></span>
          <ion-label>Меню</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</ion-app>