<ion-header>
  <ion-toolbar>
    <div class="resume__header">
      <div class="resume__ava">
        <img src="https://r2.pomogatel.ru/m/eecddaa3eb2b4e42b61cf40467381a77.jpg" alt="" />
      </div>
      <div class="resume__info">
        <div class="resume__title">Маргарита Евгеньева</div>
        <div class="resume__text"><span class="text--success">домработница</span></div>
        <div class="resume__text--small">
          <span class="bold">Возраст:</span> 69 лет
          <span class="bold">Опыт:</span> 10 лет и более
          <span class="bold">Оплата:</span> от 1000 до 1500 руб./за выход
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="resume">
    <!-- <div class="resume__header">
      <div class="resume__ava">
        <img src="https://r2.pomogatel.ru/m/eecddaa3eb2b4e42b61cf40467381a77.jpg" alt="" />
      </div>
      <div class="resume__info">
        <div class="resume__title">Маргарита Евгеньева</div>
        <div class="resume__text">была 12.05.02</div>
      </div>
    </div> -->
    <ion-list>
      <ion-list-header>
        О себе
      </ion-list-header>
      <ion-item>
        Москвичка, опыт работы домработницей-няней - 16 лет. Работала по 4-5 лет, прощались с работодателями по
        причине
        их переезда. Последняя работа - мама в декрет ушла, рекомендации имею, можно напрямую прежним работодателями
        звонить. Живу в районе м. "Профсоюзная". Здорова, к врачам не хожу, нет надобности, соображаю быстро, к
        замечаниям отношусь спокойно, готовлю вкусно.
      </ion-item>
    </ion-list>

    <ion-list-header>
      График
    </ion-list-header>
    <ion-list-header>
      Рсаписание работы
    </ion-list-header>
    <ion-list-header>
      Данные
    </ion-list-header>
    <ion-list-header>
      Навыки
    </ion-list-header>
    <ion-list-header>
      Адрес
    </ion-list-header>

    <ion-label>
      Описание
    </ion-label>
    <div class="resume__subtitle">
      Описание
    </div>
    <div class="resume__text">

    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar class="border--0">
    <ion-buttons slot="secondary">
      <ion-button>
        Позвонить
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button>
        Написать
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>