.resume {
  padding: 10px;
  &__header {
    display: flex;
    height: 100px;    
    padding: 0 0 20px;
  }
  &__ava {
    height: 80px;
    width: 80px;
    position: relative;
    margin-right: 10px;
    img {
      position: relative;
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }
  &__info {
    padding-top: 10px;
  }
  &__title {
    font-size: 18px;
  }
  &__text {
    font-size: 14px;
    color: #666;
  }
  &__subtitle {
    font-size: 16px;
  }
}

